@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600;700&display=swap");

:root {
  /* COLORS */

  --blue: #264653;
  --green: #2a9d8f;
  --yellow: #e9c46a;
  --orange: #f4a261;
  --red: #e76f51;
  --white: white;
  --light-gray: rgb(238, 238, 238);
  --medium-gray: rgb(215, 215, 215);

  /* FONT FAMILY */

  --main-font: "Barlow", sans-serif;

  /* BOX SHADOW */

  --main-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --button-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  --big-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
